[base]
link_site = "https://notifications.wikidot.com"
link_your_config = "{link_site}/redirect-to-your-config"
link_unsubscribe = "{link_site}/faq#stop"
link_info_learning = "{link_site}/faq#learning"
link_info_automatic = "{link_site}/faq#auto"

frequency_test = "< TEST (which you have opted into) >"

body = """
{intro}

{wikis}

{outro}
"""
wiki = """
++ {wiki_name}

{categories}
"""
category = """
+++ {category_name}

{summary}

[[ul style="list-style-type: ':open_mailbox_with_raised_flag: '"]]
{threads}
[[/ul]]
"""
thread = """
[[li]]
**{thread_opener} [{thread_url} {thread_title}]** plural({thread_has_creator}||-- [[*user {thread_creator}]]) -- {date}
{replies_section}
{posts_section}
[[/li]]
"""
replies_section = """
[[ul style="list-style-type: ':package: '"]]
{posts_replied_to}
[[/ul]]
"""
post_replied_to = """
[[li]]
**{post_replies_opener} [{post_url} {post_title}]** -- {date}

{posts_section}
[[/li]]
"""
posts_section = """
[[ul style="list-style-type: ':envelope: '"]]
{posts}
[[/ul]]
"""
post = """
[[li]]
**[{post_url} {post_title}]** -- [[*user {post_author}]] -- {date}
<br>
**|** ##grey|//{snippet}//##
[[/li]]
"""
date = """[[date {timestamp} format="%d %b %Y %H:%M:%S|agohover"]]"""
outro = """
-----

[[=]]
+ :open_mailbox_with_lowered_flag:

-----

{unsub_footer}
[[/=]]
"""

[en]
frequency_hourly = "hourly"
frequency_8hourly = "every-8-hours"
frequency_daily = "daily"
frequency_weekly = "weekly"
frequency_monthly = "monthly"
subject = "[Forum Notifications] {post_count} new plural({post_count}|post|posts)"
intro = """|
Hello! This is your {frequency} notification digest from {link_site}, notifying you of new posts to threads that you're subscribed to.

This service is keeping track of:

* {manual_sub_count} manual plural({manual_sub_count}|subscription|subscriptions), as defined in [{link_your_config} your user configuration].

* Automatic thread and post subscriptions. [{link_info_automatic} Learn what constitutes an automatic subscription.]

This account ([[*user Notifier]]) is automated -- any response to this message will not be seen. If there are any problems, contact [[*user Croquembouche]] directly.

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "Unsubscribe from these notifications: {link_unsubscribe}"
main_summary = "You have {summary} from {wiki_count} plural({wiki_count}|wiki|wikis)"
summary = """|
{notification_count} plural({notification_count}|notification|notifications) in {thread_count} plural({thread_count}|thread|threads)
"""
unknown_category_name = "Other"
thread_opener = "Thread:"
post_replies_opener = "Replies to post:"
untitled_post_title = "(untitled post)"

[vi]
frequency_hourly = "hàng giờ"
frequency_8hourly = "8 giờ một lần"
frequency_daily = "hàng ngày"
frequency_weekly = "hàng tuần"
frequency_monthly = "hàng tháng"
subject = "[Thông Báo Diễn Đàn] {post_count} post mới"
intro = """|
Xin chào! Đây là hệ thống thông báo {frequency} của bạn từ {link_site}, hiển thị thông báo về các bài post mới được đăng vào trang thread mà bạn đăng kí theo dõi.

Dịch vụ này hiện đang theo dõi:

* {manual_sub_count} mẫu đăng kí thủ công, theo như cài đặt tại [{link_your_config} bản điều chỉnh người dùng của bạn].

* Đăng kí tự động của bạn. [{link_info_automatic} Tìm hiểu về những yếu tố cấu thành bản đăng kí tự động.]

Tài khoản ([[*user Notifier]]) này được chạy tự động -- bất kể tin nhắn gửi đến tài khoản đều bị bỏ qua. Nếu có khúc mắc, vui lòng liên hệ ([[*user Croquembouche]]) trực tiếp.

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "Hủy đăng kí những thông báo này: {link_unsubscribe}"
main_summary = "Bạn có {summary} từ {wiki_count} wiki"
summary = """|
{notification_count} thông báo tại {thread_count} thred
"""
unknown_category_name = "Khác"
thread_opener = "Thread:"
post_replies_opener = "Phản hồi lại post:"
untitled_post_title = "(post không có tiêu đề)"

[fr]
link_site = "http://commandemento5.wikidot.com/notifications"
link_your_config = "https://notifications.wikidot.com/redirect-to-your-config"
link_unsubscribe = "{link_site}#stop"
link_info_learning = "{link_site}#learning"
link_info_automatic = "{link_site}#auto"

frequency_hourly = "de la dernière heure"
frequency_8hourly = "dans les 8 dernières heures"
frequency_daily = "journalier"
frequency_weekly = "hebdomadaire"
frequency_monthly = "mensuel"
subject = "[Notifications Forum] {post_count} plural({post_count}|nouveau message|nouveaux messages)"
intro = """|
Bonjour ! Voici votre récapitulatif de [{link_site} notifications] {frequency}, vous informant de tous les nouveaux messages sur les fils auxquels vous vous êtes abonné·e.

Ce service suit actuellement :

* {manual_sub_count} plural({manual_sub_count}|abonnement|abonnements) plural({manual_sub_count}|manuel|manuels), comme définis dans [{link_your_config} vos paramètres d'utilisateur].

* Abonnements automatiques à des fils et des messages. [{link_info_automatic} Apprenez ce que constitue un abonnement automatique.]

Ce compte ([[*user Notifier]]) est automatisé -- les réponses à ce message ne seront pas prises en compte. Si vous avez un problème, contactez directement [[*user
Croquembouche]] (en anglais).

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "Se désinscrire de ces notifications : {link_unsubscribe}"
main_summary = "Vous avez {summary} de {wiki_count} plural({wiki_count}|wiki|wikis)"
summary = """|
{notification_count} plural({notification_count}|notification|notifications) sur {thread_count} plural({thread_count}|fil|fils)
"""
unknown_category_name = "Autres"
thread_opener = "Fil :"
post_replies_opener = "Réponses à message :"
untitled_post_title = "(message sans titre)"

[es]
frequency_hourly = "de cada hora"
frequency_8hourly = "de cada 8 horas"
frequency_daily = "diario"
frequency_weekly = "semanal"
frequency_monthly = "mensual"
subject = "[Notificaciones del Foro] {post_count} plural({post_count}|nuevo mensaje|nuevos mensajes)"
intro = """|
¡Hola! Este es el resumen {frequency} de notificaciones de {link_site}, avisándote de las nuevas respuestas a hilos a los que estás suscrito. Este servicio está llevando seguimiento de:

* {manual_sub_count} plural({manual_sub_count}|suscripción|suscripciones) manuales, como se define en [{link_your_config} tu configuración de usuario].

* Suscripciones automáticas a hilos y publicaciones. [{link_info_automatic} Aprende qué constituye una suscripción automática.]

La cuenta ([[*user Notifier]]) está automatizada -- cualquier respuesta a este mensaje será ignorada. Si hay cualquier problema, contacta directamente conmigo, ([[*user Croquembouche]]).

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "Desuscribirse de estas notificaciones: {link_unsubscribe}"
main_summary = "Tienes {summary} de {wiki_count} plural({wiki_count}|wiki|wikis)"
summary = """|
{notification_count} plural({notification_count}|notificación|notificaciones) en {thread_count} plural({thread_count}|hilo|hilos)
"""
unknown_category_name = "Otros"
thread_opener = "Hilo:"
post_replies_opener = "Respuestas:"
untitled_post_title = "(publicación sin título)"

[ja]
frequency_hourly = "一時間ごと"
frequency_8hourly = "八時間ごと"
frequency_daily = "一日ごと"
frequency_weekly = "一週間ごと"
frequency_monthly = "ひと月ごと"
subject = "[フォーラム通知] {post_count}個の新しいポスト"
intro = """|
こんにちは！こちらは{link_site}から{frequency}の通知です。
あなたの登録したスレッドに新しいポストが投稿されたので、通知をします。
このサービスは以下を追跡しています：
そのうち、[{link_your_config} あなたのユーザー設定ページ]にある通り、{manual_sub_count}個が手動登録です。
自動スレッドとポストの登録です。[{link_info_automatic} 自動登録の構成については、こちらを参照してください。]
本アカウント([[*user Notifier]])は自動であり、いかなる返信対応もできません。問題があるようでしたら、[[*user Croquembouche]]に直接ご連絡ください。

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "[{link_unsubscribe} 登録を解除する]"
main_summary = "{wiki_count}個のwikiからの{summary}です。"
summary = """|
{thread_count}個のスレッドに{notification_count}件の通知
"""
unknown_category_name = "その他"
thread_opener = "スレッド:"
post_replies_opener = "返信:"
untitled_post_title = "(無題のポスト)"

[zh]
frequency_hourly = "每小时"
frequency_8hourly = "每8小时"
frequency_daily = "每日"
frequency_weekly = "每周"
frequency_monthly = "每月"
subject = "[论坛提醒] {post_count} 个新帖子"
intro = """|
您好！这是您在 {link_site} 订阅的{frequency}提醒概要，提醒您所订阅的讨论区内发布了新的讨论帖。

本服务正在追踪：

* {manual_sub_count} 个手动订阅，可在[{link_your_config} 您的个人配置]处配置。

* 自动订阅讨论区和讨论帖。[{link_info_automatic} 了解自动订阅的内容构成。]

本账户（[[*user Notifier]]）为全自动运营——任何对本消息发送的回复都将被忽略。如果您遇到了任何问题，请直接联系我（[[*user Croquembouche]]）。

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "取消订阅本提醒：{link_unsubscribe}"
main_summary = "您总共在 {wiki_count} 个维基处订阅了 {summary} 个帖子"
summary = """|
从 {thread_count} 个讨论区处收到的 {notification_count} 条提醒
"""
unknown_category_name = "其它"
thread_opener = "讨论区："
post_replies_opener = "回复："
untitled_post_title = "（无标题帖子）"

[it]
frequency_hourly = "orario"
frequency_8hourly = "ottaorario"
frequency_daily = "giornaliero"
frequency_weekly = "settimanale"
frequency_monthly = "mensile"
subject = "[Notifiche dal Forum] {post_count} plural({post_count}|nuovo|nuovi) post"
intro = """|
Ehilà! Ecco a te il tuo riassunto {frequency} delle notifiche da {link_site}, che ti avvisa dei nuovi post pubblicati nei thread ai quali hai effettuato un'iscrizione. Questo servizio tiene d'occhio:

* {manual_sub_count} plural({manual_sub_count}|l'iscrizione manuale|le iscrizioni manuali), come descritte [{link_your_config} nelle tue configurazioni utente].

* Iscrizioni automatiche ai thread e ai post. [{link_info_automatic} Informati su cosa sia un'iscrizione automatica.]

Il presente account ([[*user Notifier]]) è automatizzato -- qualsiasi risposta a questo messaggio sarà ignorata. Nel caso ci siano problemi, contatta me ([[*user Croquembouche]]) direttamente, in lingua Inglese.

-----
[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]
-----
"""
unsub_footer = "Disiscriviti da queste notifiche: {link_unsubscribe}"
main_summary = "Hai {summary} da {wiki_count} plural({wiki_count}|wiki|wiki)"
summary = """|
{notification_count} plural({notification_count}|notifica|notifiche) in {thread_count} plural({thread_count}|thread|thread)
"""
unknown_category_name = "Altro"
thread_opener = "Thread:"
post_replies_opener = "Risposte al post:"
untitled_post_title = "(post senza titolo)"

[no]
frequency_hourly = "timelige "
frequency_8hourly = "8-timers-"
frequency_daily = "daglige "
frequency_weekly = "ukentlige "
frequency_monthly = "månedlige "
subject = "[Forum-varsler] {post_count} plural({post_count}|nytt|nye) innlegg"
intro = """|
Hei! Dette er ditt {frequency}varslingssammendrag fra {link_site}, med varsler om nye innlegg i diskusjoner du har abonnert på.

Denne tjenesten holder oversikt over:

* {manual_sub_count} plural({manual_sub_count}|manuelt abonnement|manuelle abonnementer), som definert i [{link_your_config} dine bruker-instillinger].

* Automatisk abonnement på diskusjoner og innlegg. [{link_info_automatic} Finn ut hva som utgjør et automatisk abonnement.]

Denne kontoen ([[*user Notifier]]) er automatisert -- alle svar til denne meldingen vil bli ignorert. Hvis du har problemer, kontakt meg ([[*user Croquembouche]]) direkte.

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "Avslutt abonnement på disse varslene: {link_unsubscribe}"
main_summary = "Du har {summary} fra {wiki_count} plural({wiki_count}|wiki|wikier)"
summary = """|
{notification_count} plural({notification_count}|varsel|varsler) i {thread_count} plural({thread_count}|diskusjon|diskusjoner)
"""
unknown_category_name = "Annet"
thread_opener = "Diskusjon:"
post_replies_opener = "Svar til innlegg:"
untitled_post_title = "(innlegg uten navn)"

[tr]
frequency_hourly = "每小時"
frequency_8hourly = "每8小時"
frequency_daily = "每日"
frequency_weekly = "每周"
frequency_monthly = "每月"
subject = "[論壇提醒] {post_count} 個新貼文"
intro = """|
您好！這是您在 {link_site} 訂閱的{frequency}提醒摘要，用於提醒您訂閱的討論區内發佈了新的討論貼文。

本服務正在追蹤：

* {manual_sub_count} 個手動訂閱，可在[{link_your_config} 您的個人設定]處設定。

* 自動訂閱討論區和讨论帖。[{link_info_automatic} 了解自動訂閱內容的構成。]

本賬號（[[*user Notifier]]）是全自動運營的——任何對本私訊發送的回復都將會被忽略。如果您遇到了任何問題，請直接聯絡我（[[*user Croquembouche]]）。

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "取消訂閱本提醒：{link_unsubscribe}"
main_summary = "您總共在 {wiki_count} 個維基訂閱了 {summary} 條貼文"
summary = """|
從 {thread_count} 個討論區收到 {notification_count} 條提醒
"""
unknown_category_name = "其它"
thread_opener = "討論區："
post_replies_opener = "回復："
untitled_post_title = "（無標題貼文）"

[eo]
frequency_hourly = "ĉiuhora"
frequency_8hourly = "ĉiu-8-horoj"
frequency_daily = "ĉiutaga"
frequency_weekly = "ĉiusemajna"
frequency_monthly = "ĉiumonata"
subject = "[Foruma Sciigo] {post_count} plural({post_count}|nova|novaj) plural({post_count}|afiŝo|afiŝoj)"
intro = """|
Saluton! Ĉi tiu estas via {frequency} resumo de sciigoj el {link_site}, kio sciigantas vin pri novaj afiŝoj de fadenoj kiujn vi abonis.

Ĉi tiu servo estas spuranta:

* {manual_sub_count} plural({manual_sub_count}|manan|manajn) plural({manual_sub_count}|abonon|abonojn), laŭ [{link_your_config} via uzanta agordo].

* Aŭtomataj fadenaj kaj afiŝaj abonoj. [{link_info_automatic} Ekscii kio konsistigas aŭtomatan abonon.]

Ĉi tiu konto ([[*user Notifier]]) estas aŭtomata -- neniu respondo al ĉi tiu mesaĝo estos videbla. Se estas problemoj, rekte komuniku al [[*user Croquembouche]].

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "Malaboni ĉi tiujn sciigojn: {link_unsubscribe}"
main_summary = "Vi havas {summary} el {wiki_count} plural({wiki_count}|vikio|vikioj)"
summary = """|
{notification_count} plural({notification_count}|sciigo|sciigoj) en {thread_count} plural({thread_count}|fadeno|fadenoj)
"""
unknown_category_name = "Alia"
thread_opener = "Fadeno:"
post_replies_opener = "Respondoj al afiŝo:"
untitled_post_title = "(afiŝo sen titolo)"

[pl]
frequency_hourly = "co godzinę"
frequency_8hourly = "co 8 godzin"
frequency_daily = "codziennie"
frequency_weekly = "co tydzień"
frequency_monthly = "raz na miesiąc"
subject = "[Powiadomienia Forum] {post_count} plural({post_count}|nowy post|nowych postów|PL|nowe posty")
intro = """|
Cześć! to jest twoje podsumowanie powiadomień wysyłane {frequency} z {link_site}, informujące ciebie o nowych postach w wątkach do których jesteś zasubskrybowany.

Ten serwis obecnie śledzi:

* {manual_sub_count} plural({manual_sub_count}|manualną subskrypcję|manualnych subskrypcji|PL|manualne subskrypcje), zgodnie z twoją definicją w [{link_your_config} konfiguracji użytkownika].

* Automatyczne subskrypcje do postów i wątków. [{link_info_automatic} Dowiedz się co stanowi automatyczną subskrypcję]

Te konto ([[*user Notifier]]) jest zautomatyzowane -- jakakolwiek odpowiedź na tą wiadomość nie zostanie przeczytana. Jeżeli istnieją jakieś problemy, skontaktuj się bezpośrednio z [[*user Croquembouche]].

-----

[[=]]<>+ :closed_mailbox_with_raised_flag:<>[[/=]]

-----
"""
unsub_footer = "Zrezygnuj z subskrypcji: {link_unsubscribe}"
main_summary = "Masz {summary} z {wiki_count} wiki"
summary = """|
{notification_count} plural({notification_count}|powiadomienie|powiadomień|PL|powiadomienia) w {thread_count} plural({thread_count}|wątku|wątkach)
"""
unknown_category_name = "Inne"
thread_opener = "Wątek:"
post_replies_opener = "Odpowiedzi do postu:"
untitled_post_title = "(post bez tytułu)"
